.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.content {
  width: 500px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px 0;
}
.image {
  aspect-ratio: 1 / 1;
  margin: 0 10px;
  height: 50px;
  width: auto;
}
.login {
  width: 100%;
}
.loginTitle {
  margin: 10px 0;
}
.form {
  display: grid;

  a {
    color: rgb(116, 116, 255);
  }
}
.btnWrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#btnSubmit {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  background: #45578d;
  border: none;
  transition: all 0.18s ease-in-out;
}
#btnSubmit:hover {
  cursor: pointer;
  transform: translateY(-0.5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
